{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^@common/(.*)$",
    "^@/(.*)$",
    "^[./]",
    "\\.scss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "order": "smacss"
}
